.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(20em/14);
}

.board__wrapper {
    display: grid;
    grid-gap: 24px;
}

.board__header {
    align-items: center;

    .surface {
        padding: calc(16em/14);
        border-radius: calc(8em/14);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .mark {
            width: 20px;
        }
    }

    > :last-child {
        display: flex;
        justify-content: flex-end;
    }
}

.board__header,
.board__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.board__footer-cell {
    display: grid;
    gap: 8px;

    color: var(--navy-dark);
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    text-transform: uppercase;
    
    &:nth-child(1) {
        background-color: var(--color-accent1);
    }
    
    &:nth-child(2) {
        background-color: var(--silver);
    }
    
    &:nth-child(3) {
        background-color: var(--color-accent2);
    }
}

.board__cell {
    border-radius: calc(15em/14);
    background: var(--color-bg-light);
    padding: calc(24em/14);
    padding-bottom: calc(32em/14);
    box-shadow: var(--color-bg-dark) 0 calc(-8em/14) 0 inset;
    aspect-ratio: 1;

    display: grid;
    align-items: center;
    justify-content: center;

    svg {
        display: block;
        width: 64px;
        height: 64px;
    }
}

.board__cell--clickable {

    svg {
        opacity: 0;
        fill: none;
    }

    &:hover svg {
        opacity: 1;
    }
}

.board__cell--o {
    --accent: var(--color-accent1);
    --accent-dark: var(--color-accent1-dark);
}

.board__cell--x {
    --accent: var(--color-accent2);
    --accent-dark: var(--color-accent2-dark);
}

.board__cell--connected {
    background: var(--accent);
    box-shadow: var(--accent-dark) 0 calc(-8em/14) 0 inset;

    .mark {
        color: var(--color-bg)
    }
}

.mark {
    color: var(--accent);
}

