.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(20em/14);
}

.board__cell {
    border-radius: calc(15em/14);
    background: var(--color-bg-light);
    padding: calc(24em/14);
    padding-bottom: calc(32em/14);
    box-shadow: var(--color-bg-dark) 0 calc(-8em/14) 0 inset;
    aspect-ratio: 1;

    display: grid;
    align-items: center;
    justify-content: center;

    svg {
        display: block;
        width: 64px;
        height: 64px;
    }
}

.board__cell--clickable {

    svg {
        opacity: 0;
        fill: none;
    }

    &:hover svg {
        opacity: 1;
    }
}

.board__cell--o {
    --accent: var(--color-accent1);
    --accent-dark: var(--color-accent1-dark);
}

.board__cell--x {
    --accent: var(--color-accent2);
    --accent-dark: var(--color-accent2-dark);
}

.board__cell--connected {
    background: var(--accent);
    box-shadow: var(--accent-dark) 0 calc(-8em/14) 0 inset;

    .mark {
        color: var(--color-bg)
    }
}

.mark {
    color: var(--accent);
}

