.button {
    --button-bg-color: var(--color-accent2);
    --button-hover-color: var(--color-accent2-light);
    --button-shadow-color: var(--color-accent2-dark);

    appearance: none;
    line-height: calc(25em/20);

    @include heading-xs;

    padding: calc(17em/20);
    border: 0;
    border-radius: calc(15em/20);

    background: var(--button-bg-color);
    box-shadow: var(--button-shadow-color) 0 calc(8em/20);

    &:hover {
        background: var(--button-hover-color);
    }
}

.button--large {
    @include heading-s;
    display: block;
    width: 100%;
}

.button--primary {
    --button-bg-color: var(--color-accent1);
    --button-hover-color: var(--color-accent1-light);
    --button-shadow-color: var(--color-accent1-dark);
}

.button--secondary {
    --button-bg-color: var(--color-accent2);
    --button-hover-color: var(--color-accent2-light);
    --button-shadow-color: var(--color-accent2-dark);
}

.button--tertiary {
    --button-bg-color: var(--silver);
    --button-hover-color: var(--silver-light);
    --button-shadow-color: var(--silver-dark);
}
    
.button-list {
    display: flex;
    gap: 16px;
}