@mixin body {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: calc(0.8em/14);
}

@mixin heading-l {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: calc(2.5em/40);
}

@mixin heading-m {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: calc(1.5em/40);
}

@mixin heading-s {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: calc(1.25em/40);
}

@mixin heading-xs {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: calc(1em/40);
}
